<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h2>Login</h2>

    <input
        type="text"
        id="username"
        placeholder="Username"> 

    <br><br>

    <input
        type="password"
        id="password"
        placeholder="Password">

    <br><br>

    <button onclick="login()">
        Login
    </button>

    <p id="msg"></p>

</div>

<script>

async function login(){

    let username =
        document.getElementById("username").value;

    let password =
        document.getElementById("password").value;

    let res = await fetch("/login",{

        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

        body:JSON.stringify({

            username:username,

            password:password

        })

    });

    let data = await res.json();

    if (res.ok) {

localStorage.setItem("token", data.access_token);

window.location.href = "/dashboard";

}
}

        // Dashboard baad me banayenge
        // window.location.href="/dashboard";

    
</script>

</body>
</html>